### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

# Display headers
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
# Display total number of players
purchase_data ["SN"].head()

0          Lisim78
1      Lisovynya38
2       Ithergue48
3    Chamassasya86
4        Iskosia90
Name: SN, dtype: object

In [13]:
# Calculate total number of unique players based on screen name
unique_players = purchase_data["SN"].unique()
unique_players

array(['Lisim78', 'Lisovynya38', 'Ithergue48', 'Chamassasya86',
       'Iskosia90', 'Yalae81', 'Itheria73', 'Iskjaskst81', 'Undjask33',
       'Chanosian48', 'Inguron55', 'Haisrisuir60', 'Saelaephos52',
       'Assjaskan73', 'Saesrideu94', 'Lisassa64', 'Lisirra25',
       'Zontibe81', 'Reunasu60', 'Chamalo71', 'Iathenudil29',
       'Phiarithdeu40', 'Siarithria38', 'Eyrian71', 'Siala43',
       'Lisirra87', 'Lirtossa84', 'Eusri44', 'Aela59', 'Tyida79',
       'Idai61', 'Farusrian86', 'Aeralria27', 'Haillyrgue51', 'Sondim73',
       'Jeyciman68', 'Idaisuir85', 'Seuthep89', 'Reulae52',
       'Sondilsaya62', 'Aerithriaphos45', 'Assosia88', 'Aidaillodeu39',
       'Aelly27', 'Tyeosri53', 'Haerith37', 'Yasrisu92', 'Chanuchi25',
       'Asur96', 'Iaralrgue74', 'Chanosia34', 'Aelin32', 'Ilosianya35',
       'Zhisrisu83', 'Phaelap26', 'Raesty92', 'Palyon91', 'Tyisur83',
       'Yaliru88', 'Yadanu52', 'Jiskimya77', 'Yadaphos40', 'Alo38',
       'Phaena87', 'Chamirraya83', 'Chanastsda67', 'Indonmol95',
       'Jiskossa61', 'Pheodai94', 'Hari50', 'Marilsa69', 'Assistasda42',
       'Lisosia93', 'Philodil43', 'Mindadaran26', 'Lirtosia63',
       'Assjaskan56', 'Irithlis29', 'Heudai45', 'Haerithp41', 'Aina42',
       'Jiskjask60', 'Umolrian85', 'Qarirwen82', 'Laedallo55',
       'Eoralrap26', 'Undosian34', 'Chadolyla44', 'Chadistaya75',
       'Yathedeu43', 'Aina43', 'Ilassast39', 'Lisassala98', 'Aiduecal76',
       'Chadossa89', 'Pheodaisun84', 'Heollyriap59', 'Maropast28',
       'Frichim77', 'Thryallym62', 'Eulanurin88', 'Lassjaskan73',
       'Tyaerith73', 'Sondadarya58', 'Hirirap39', 'Ririp86', 'Sundim98',
       'Iskichinya81', 'Phyali88', 'Undirrala66', 'Nitherian58',
       'Lassilsala30', 'Frichaststa61', 'Frichosia58', 'Ilosia37',
       'Lisista27', 'Seudaillorap38', 'Aesty53', 'Yathecal82',
       'Lisossanya98', 'Iral74', 'Lisast87', 'Maridisya31', 'Jiskassa76',
       'Ethriel85', 'Iskirra45', 'Iri67', 'Rarallo90', 'Lisasi93',
       'Adastirin33', 'Eyista89', 'Ili43', 'Chamirra53', 'Hailaphos89',
       'Iskadarya95', 'Qilatista90', 'Inasti31', 'Marilsanya48',
       'Marjask87', 'Chanjaskan89', 'Hyaduesu61', 'Aillyrin83',
       'Marast30', 'Sundadar27', 'Tyaelorap29', 'Lirtimst73',
       'Styaduen40', 'Sidap51', 'Chanastst38', 'Lirtassa52', 'Sondim68',
       'Aeral97', 'Heosurnuru52', 'Lisopela58', 'Caesrinusuir82',
       'Tyirinu79', 'Fironon91', 'Lassjask63', 'Indcil77', 'Chamimla73',
       'Syathe73', 'Baelollodeu94', 'Mindista32', 'Saena74',
       'Marirrasta50', 'Lamil79', 'Aenarap34', 'Aisur51', 'Thrientossa55',
       'Chadista79', 'Tyeurith29', 'Malunil62', 'Hiasri33', 'Lisadar44',
       'Frichjask31', 'Lisjaskya84', 'Ristydru66', 'Frichast28',
       'Minduri31', 'Maradaran90', 'Mindetosya30', 'Ialallo29',
       'Pheusrical25', 'Chanosia60', 'Phistym51', 'Aelollo59',
       'Chamimla85', 'Haisurra41', 'Sondastsda82', 'Qilanrion65',
       'Eulasuir89', 'Eosrirgue62', 'Shaidanu32', 'Lirtastan49',
       'Iaralsuir44', 'Tyeudariasuir90', 'Cosadar58', 'Aelastirin39',
       'Aidai53', 'Jiskjask85', 'Ealrion88', 'Chamjask73', 'Tyaenasti87',
       'Alim85', 'Haeladil46', 'Jiskirran77', 'Undosia27', 'Peorith44',
       'Yarithsurgue62', 'Taeduenu92', 'Rairin89', 'Aerithriaphos46',
       'Idairin51', 'Lisista54', 'Eodailis27', 'Lirtastsda29',
       'Undilsan50', 'Eodaisu60', 'Quaranmol58', 'Lirtossa60',
       'Lirtilsa71', 'Isursuir31', 'Sundirrala66', 'Saerallora71',
       'Iasur80', 'Tyaelo67', 'Quanunwen42', 'Yasur35', 'Assehoan67',
       'Haellysu29', 'Saida58', 'Chamadar79', 'Aeral43', 'Lirtirra37',
       'Tyidaim51', 'Lassassast73', 'Assassasta79', 'Heollyra92',
       'Anallorgue57', 'Aerithllora36', 'Smaistysu35', 'Ennalmol65',
       'Yarithrgue83', 'Yana46', 'Sondimla25', 'Aidai61', 'Wailin72',
       'Firan91', 'Alaesu91', 'Aellynun67', 'Rilaera56', 'Eulaestira36',
       'Marim28', 'Idastidru52', 'Ilirrasda54', 'Alaephos75',
       'Syalollorap93', 'Minduli80', 'Chanastya70', 'Frichadaran88',
       'Siallylis44', 'Aeri84', 'Iasursti71', 'Mindilsa34', 'Chamastya76',
       'Undirra73', 'Aestysu37', 'Chadadarla74', 'Strithenu87',
       'Iasrira89', 'Ialidru40', 'Tyalaesu89', 'Tyidainu31', 'Lirtilsa72',
       'Undjaskla97', 'Saedaiphos46', 'Aerithnucal56', 'Lisossa46',
       'Layjask75', 'Lisista63', 'Ceoral34', 'Hilaerin92',
       'Chadilsasta32', 'Undassa89', 'Iduenu77', 'Lisosia66',
       'Undimsya85', 'Phaedue89', 'Yadacal26', 'Lisossa25', 'Ilmol66',
       'Yastyriaphos75', 'Hiasurria41', 'Palatyon26', 'Qilalista41',
       'Hada39', 'Chamilsala65', 'Rairith81', 'Ilarin91', 'Ryanara76',
       'Undista85', 'Tyeoralru41', 'Pheosrinudeu70', 'Heuli25',
       'Pheutherin27', 'Chadirra90', 'Ali84', 'Frichjaskan98', 'Malil90',
       'Yarithllodeu72', 'Tyaedainu44', 'Ethron58', 'Eusurdeu49',
       'Saistyphos30', 'Saisrilis27', 'Hallysucal81', 'Ilimya66',
       'Raysistast71', 'Haedairiadru51', 'Tyananurgue44', 'Risty84',
       'Aerillorin70', 'Phistyn52', 'Yalo85', 'Chamirrasya33', 'Hiral75',
       'Isursti83', 'Bartassaya73', 'Aeda94', 'Quinarap53', 'Asur53',
       'Alarap40', 'Sida61', 'Hiarideu73', 'Lassassasda30', 'Ennoncil86',
       'Siralsudeu54', 'Eusri26', 'Ardcil81', 'Marilsasya33', 'Lirtim36',
       'Heunadil74', 'Frichadar89', 'Aesurstilis64', 'Idaidil28',
       'Lisotesta51', 'Lisico81', 'Lisiriya82', 'Siana77', 'Marokian45',
       'Sausosia74', 'Assesi91', 'Eusri70', 'Aisurria69', 'Iarilis73',
       'Raisty38', 'Ilista82', 'Leyirra83', 'Aiduesu86', 'Frichynde86',
       'Hisridru55', 'Chamossa77', 'Irillo49', 'Lirtastsya71',
       'Frichosiala98', 'Qilunan34', 'Quarrion42', 'Aisurdru79',
       'Hiaral50', 'Iarallo65', 'Sondassasya91', 'Chanossast57',
       'Chanjask65', 'Ethralista69', 'Sondistanya61', 'Eudanu32',
       'Euthe35', 'Lassimla92', 'Lisossala30', 'Eulae84', 'Chamadarnya73',
       'Eolan54', 'Assistasda90', 'Ennrian78', 'Undirrasta89',
       'Rianistast50', 'Undare39', 'Adairialis76', 'Aesur96',
       'Tyialisudeu65', 'Arirgue63', 'Sundadarla27', 'Eyircil84', 'Ina92',
       'Lirtistanya48', 'Marassa62', 'Mindossa76', 'Salilis27',
       'Sondossa69', 'Sundjask71', 'Errian63', 'Eurithphos97',
       'Raillydeu47', 'Malon70', 'Jiskimsda56', 'Marughi89', 'Ingatcil75',
       'Chanirrasta87', 'Alaesu77', 'Ermol76', 'Tyeuduen32', 'Firon67',
       'Iadueria43', 'Pheulidil31', 'Eodairu79', 'Frichocesta66',
       'Thourdirra92', 'Chanastnya43', 'Iskim96', 'Eulolis41',
       'Sastydeu50', 'Ilaesudil92', 'Yasur85', 'Aidain51',
       'Aerithnuphos61', 'Yalostiphos68', 'Meosridil82', 'Aillyriadru65',
       'Sally64', 'Lisim51', 'Isurria36', 'Silaera56', 'Leetirraya83',
       'Lirtirra81', 'Eryon48', 'Iana95', 'Sondassan80', 'Chanadar44',
       'Eosurdru76', 'Shidai42', 'Aesri53', 'Syally44', 'Jiskadarst60',
       'Sondadar26', 'Malarrian73', 'Maluncil97', 'Ilunyon70', 'Yadam35',
       'Dyally87', 'Pheosurllorin41', 'Frichaya88', 'Lassadarsda57',
       'Marynde90', 'Isri34', 'Assastnya25', 'Ardonmol96',
       'Lassirrasda85', 'Chadossa56', 'Poshilsa82', 'Yoishirrala98',
       'Sundista37', 'Ilassa51', 'Filurarn35', 'Phaestycal84', 'Irilis75',
       'Aeralstical35', 'Chanirrala39', 'Chanirra79', 'Assirra56',
       'Seolollo93', 'Iathem87', 'Iasurriacal29', 'Lisast98', 'Filrion59',
       'Halaecal66', 'Iskosian40', 'Ilastilis78', 'Seosrim97',
       'Farrian71', 'Rithe53', 'Frichossala54', 'Chamjaskya75',
       'Quanrion96', 'Tyaelaelis94', 'Quanenrian83', 'Chanirra64',
       'Yadaisuir65', 'Syathecal44', 'Arin32', 'Aelaria33', 'Assassa81',
       'Filrion83', 'Eoral49', 'Airi27', 'Eurisuru25', 'Liawista80',
       'Lisirra58', 'Chamadarsda63', 'Haestyphos66', 'Phaedasurap84',
       'Mindimnya67', 'Chadjask85', 'Eustyria89', 'Iskim66', 'Chamast86',
       'Lirtassan78', 'Ethrasyon38', 'Quilassa66', 'Lisassasda39',
       'Mindilsa60', 'Lalossa38', 'Chamistast30', 'Hariphos58',
       'Assilsan72', 'Inasuir29', 'Chanilsasda38', 'Mindesi74',
       'Ililsan66', 'Idacal95', 'Aeral68', 'Tyarithn67', 'Asty82',
       'Yalaeria91', 'Chadjask77', 'Ealiril69', 'Quaecjask96',
       'Firatan58', 'Yarolwen77', 'Tyaelistidru84', 'Yarithrin84',
       'Tyaelly53', 'Phiristi62', 'Ililsasya43', 'Aithelis62',
       'Undotesta33', 'Aelidru27', 'Chanossanya44', 'Maradarnya40',
       'Lisilsa62', 'Saena89', 'Chanilsast61', 'Sundassa93', 'Aidai73',
       'Indirrian56', 'Lisassasta50', 'Iduelis31', 'Chanosiaya39',
       'Assylla81', 'Aidaira26', 'Eudanu84', 'Chamiman85', 'Tyialisti80',
       'Marundi65', 'Eusur90', 'Mindirranya33', 'Phiallylis33', 'Isty55',
       'Frichilsa31', 'Chanista95', 'Aellyria80', 'Rastynusuir31',
       'Iljask75', 'Lisjaskan36', 'Mindjasksya61', 'Frichirranya75',
       'Ilast79', 'Eratiel90', 'Assim27', 'Irith83', 'Ilosian36',
       'Iskossasda43', 'Hala31', 'Jiskjask80', 'Aethedru70', 'Yathecal72',
       'Sisur91'], dtype=object)

In [14]:
player_count = purchase_data["SN"].value_counts()
player_count

Lisosia93       5
Iral74          4
Idastidru52     4
Iskadarya95     3
Chanastnya43    3
               ..
Chamadar79      1
Yarolwen77      1
Lisassala98     1
Eratiel90       1
Quanunwen42     1
Name: SN, Length: 576, dtype: int64

In [20]:
# Insert total number of unique players into a simple data frame
frame_df = pd.DataFrame({"Player Count": ["576"]})
frame_df

  Player Count
0          576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
# Determine number of unique items
unique_items = purchase_data["Item Name"].value_counts()
count

Final Critic                                    13
Oathbreaker, Last Hope of the Breaking Storm    12
Nirvana                                          9
Fiery Glass Crusader                             9
Persuasion                                       9
                                                ..
Ghost Reaver, Longsword of Magic                 1
Alpha, Reach of Ending Hope                      1
Exiled Mithril Longsword                         1
Celeste                                          1
Gladiator's Glaive                               1
Name: Item Name, Length: 179, dtype: int64

In [7]:
# Determine average price
average = purchase_data["Price"].mean()
average

3.050987179487176

In [8]:
# Determine number of purchases
count = purchase_data["Purchase ID"].value_counts()
count

779    1
243    1
265    1
264    1
263    1
      ..
517    1
516    1
515    1
514    1
0      1
Name: Purchase ID, Length: 780, dtype: int64

In [21]:
# Determine total revenue
total_revenue = purchase_data["Price"].sum()
total_revenue

2379.77

In [22]:
# Insert findings into a simple data frame
frame_df = pd.DataFrame ({
    "Number of Unique Items": ["179"],
    "Average Price": ["$3.05"],
    "Number of Purchases": ["780"],
    "Total Revenue": ["$2,379.77"]
})
frame_df

  Number of Unique Items Average Price Number of Purchases Total Revenue
0                    179         $3.05                 780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [59]:
# Screen name by gender
total_count_gender = gender_stats.nunique()["SN"]
total_count_gender.to_frame()

                        SN
Gender
Female                  81
Male                   484
Other / Non-Disclosed   11


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [81]:
# Group data by females
only_female_purch_count = purchase_data.loc[purchase_data["Gender"] == "Female"]
print(only_female_purch_count)

     Purchase ID               SN  Age  Gender  Item ID  \
15            15        Lisassa64   21  Female       98
18            18        Reunasu60   22  Female       82
38            38         Reulae52   10  Female      116
41            41        Assosia88   20  Female        7
55            55        Phaelap26   25  Female       84
..           ...              ...  ...     ...      ...
731          731         Eudanu84   22  Female       12
740          740        Reunasu60   22  Female      127
754          754  Pheosurllorin41   23  Female       79
767          767          Ilmol66    8  Female       92
775          775       Aethedru70   21  Female       60

                        Item Name  Price
15    Deadline, Voice Of Subtlety   2.89
18                        Nirvana   4.90
38        Renewed Skeletal Katana   4.18
41   Thorn, Satchel of Dark Souls   1.33
55                     Arcane Gem   3.79
..                            ...    ...
731                         Dawne   1.02
740  Heartseeker, Reaver of Souls   3.92
754           Alpha, Oath of Zeal   4.05
767                  Final Critic   4.88
775                          Wolf   3.54

[113 rows x 7 columns]

In [149]:
# Create DataFrame of data above
# only_female_purch_count.loc[:, ["Purchase ID", "SN", "Item ID", "Price"]].head()

In [86]:
# Calculate female average purchase price
female_avg_purch_price = only_female_purch_count.loc[:, ["Price"]].mean()
print(female_avg_purch_price)

Price    3.203009
dtype: float64

In [87]:
# Calculate female purchase count
female_purch_count = only_female_purch_count.loc[:, ["Item ID"]].count()
print(female_purch_count)

Item ID    113
dtype: int64

In [88]:
# Calculate female total purchase value
female_total_purch_value = only_female_purch_count.loc[:, ["Price"]].sum()
print(female_total_purch_value)

Price    361.94
dtype: float64

In [89]:
# Calculate female average per person
# female_avg_purch = only_female_purch_count.loc[:, ["Price"]].mean()

Price    3.203009
dtype: float64

In [90]:
# Group data by males
only_male_purch = purchase_data.loc[purchase_data["Gender"] == "Male"]
print(only_male_purch)

     Purchase ID             SN  Age Gender  Item ID  \
0              0        Lisim78   20   Male      108
1              1    Lisovynya38   40   Male      143
2              2     Ithergue48   24   Male       92
3              3  Chamassasya86   24   Male      100
4              4      Iskosia90   23   Male      131
..           ...            ...  ...    ...      ...
774          774     Jiskjask80   11   Male       92
776          776         Iral74   21   Male      164
777          777     Yathecal72   20   Male       67
778          778        Sisur91    7   Male       92
779          779      Ennrian78   24   Male       50

                                     Item Name  Price
0    Extraction, Quickblade Of Trembling Hands   3.53
1                            Frenzied Scimitar   1.56
2                                 Final Critic   4.88
3                                  Blindscythe   3.27
4                                         Fury   1.44
..                                         ...    ...
774                               Final Critic   4.19
776                           Exiled Doomblade   1.63
777      Celeste, Incarnation of the Corrupted   3.46
778                               Final Critic   4.19
779                                       Dawn   4.60

[652 rows x 7 columns]

In [150]:
# Create DataFrame of data above
# only_male_purch.loc[:, ["Purchase ID", "SN", "Item ID", "Price"]].head()

In [93]:
# Calculate male average purchase price
male_avg_purch = only_male_purch.loc[:, ["Price"]].mean()
print(male_avg_purch)

Price    3.017853
dtype: float64

In [94]:
# Calculate male purchase count
male_purch_count = only_male_purch.loc[:, ["Item ID"]].count()
print(male_purch_count)

Item ID    652
dtype: int64

In [95]:
# Calculate male total purchase value
male_total_purch_value = only_male_purch.loc[:, ["Price"]].sum()
print(male_total_purch_value)

Price    1967.64
dtype: float64

In [152]:
# Create DataFrame for data above 
purch_analysis_gender_df = pd.DataFrame (
    {"Gender": ["Female", "Male", "Other/Non-Disclosed"],
    "Purchase Count": ["113", "652", "15"],
    "Average Purchase Price": ["$3.20", "$3.02", "$3.35"],
    "Total Purchase Value": ["$361.94", "$1,967.64", "$50.19"],
    "Avg Total Purchase per Person": ["0", "0", "0"]
    }
)
     
purch_analysis_gender_df

# Could not compute avg total purchase per person

,Gender,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
0,Female,113,$3.20,$361.94,0
1,Male,652,$3.02,"$1,967.64",0
2,Other/Non-Disclosed,15,$3.35,$50.19,0

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [120]:
# Establish bins for ages
age_bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 40]

# Create names for the bins
age_bin_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

pd.cut(purchase_data["Age"], age_bins, labels=age_bin_names).head()

0    20-24
1      40+
2    20-24
3    20-24
4    20-24
Name: Age, dtype: category
Categories (8, object): ['<10' < '10-14' < '15-19' < '20-24' < '25-29' < '30-34' < '35-39' < '40+']

In [117]:
# Place the data series into a new column inside of the DataFrame
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], age_bins, labels=age_bin_names)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Demographics,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24,20-24

In [118]:
# Create a GroupBy 
age_group = purchase_data.groupby("Age Group")

# Find how many rows fall into each bin
print(age_group["Age"].count())

Age Group
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+        6
Name: Age, dtype: int64

In [124]:
# Create DataFrame to hold results
age_demographics_df = pd.DataFrame (
    {"Age Group": ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"],
    "Total Count": ["23", "28", "136", "365", "101", "73", "41", "6"],
    "Percentage of Players": ["2.95%", "3.82%", "18.58%", "44.79%", "13.37%", "9.03%", "5.38%", "2.08%"] 
    }
)
     
age_demographics_df

# Need to figure out how to calculate percentages of numbers above into DataFrame without doing it manually

  Age Group Total Count Percentage of Players
0       <10          23                 2.95%
1     10-14          28                 3.82%
2     15-19         136                18.58%
3     20-24         365                44.79%
4     25-29         101                13.37%
5     30-34          73                 9.03%
6     35-39          41                 5.38%
7       40+           6                 2.08%

In [131]:
range_purchase_count = print(age_group["Purchase ID"].count())

Age Group
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+        6
Name: Purchase ID, dtype: int64

In [133]:
# Get the average of each column within the GroupBy object
range_avg_price = print(age_group["Price"].mean())

Age Group
<10      3.353478
10-14    2.956429
15-19    3.035956
20-24    3.052219
25-29    2.900990
30-34    2.931507
35-39    3.601707
40+      2.785000
Name: Price, dtype: float64

In [134]:
range_purch_value = print(age_group["Price"].sum())

Age Group
<10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
40+        16.71
Name: Price, dtype: float64

In [139]:
# avg_per_person = print(age_group["Price"])/(purchase_data["Purchase ID"])

In [154]:
# Create summary DataFrame for purchasing analysis by age
purch_analysis_df = pd.DataFrame (
    {"Age Ranges": ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"],
    "Purchase Count": ["23", "28", "136", "365", "101", "73", "41", "6"],
    "Average Purchase Price": ["$3.35", "$2.96", "$3.04", "$3.05", "$2.90", "$2.93", "$3.60", "$2.79"],
    "Total Purchase Value": ["$77.13", "$82.78", "$412.89", "$1,114.06", "$293.00", "$214.00", "$147.67", "$16.71"],
    "Avg Total Purchase per Person": ["0", "0", "0", "0", "0", "0", "0", "0"]
    }
)
     
purch_analysis_df

,Age Ranges,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
0,<10,23,$3.35,$77.13,0
1,10-14,28,$2.96,$82.78,0
2,15-19,136,$3.04,$412.89,0
3,20-24,365,$3.05,"$1,114.06",0
4,25-29,101,$2.90,$293.00,0
5,30-34,73,$2.93,$214.00,0
6,35-39,41,$3.60,$147.67,0
7,40+,6,$2.79,$16.71,0

In [156]:
# Done

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [155]:
# Top Spenders

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [148]:
# Set index to "SN"
# purchase_data_sn_index = purchase_data.set_index("SN")
# purchase_data_sn_index.head()

In [147]:
# Lisosia_to_Iskadarya = purchase_data.loc[[["Lisosia93"count(), ["Idastidru52"].count(), ["Chamjask73"].count(), ["Iral74"].count(), ["Iskadarya95"].count()]
# print(lisosia_to_Iskadarya)

SyntaxError: invalid syntax (<ipython-input-147-fe777f44690d>, line 1)

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [160]:
# Retrieve list of all unique values in "Item ID"
purchase_data["Item Name"].unique()

array(['Splinter', 'Crucifer', 'Verdict', 'Phantomlight',
       "Bloodlord's Fetish", 'Putrid Fan', 'Rusty Skull',
       'Thorn, Satchel of Dark Souls', 'Purgatory, Gem of Regret',
       'Thorn, Conqueror of the Corrupted', 'Sleepwalker', 'Brimstone',
       'Dawne', 'Serenity', 'Possessed Core', 'Soul Infused Crystal',
       'Restored Bauble', 'Lazarus, Terror of the Earth',
       'Torchlight, Bond of Storms', 'Pursuit, Cudgel of Necromancy',
       'Netherbane', 'Souleater', 'Amnesia', 'Warped Fetish', 'Hero Cane',
       'Unholy Wand', 'Riddle, Tribute of Ended Dreams',
       'Flux, Destroyer of Due Diligence', 'Chaos, Ender of the End',
       'Stormcaller', 'Trickster', 'Orenmir', 'Curved Axe',
       'Retribution Axe', 'Heartless Bone Dualblade',
       'Shadow Strike, Glory of Ending Hope',
       'The Void, Vengeance of Dark Magic',
       'Betrayal, Whisper of Grieving Widows', 'Second Chance', 'Orbit',
       'The Decapitator', 'Foul Edge', 'Bonecarvin Battle Axe',
       'Glinting Glass Edge', 'Hopeless Ebon Dualblade',
       'Alpha, Reach of Ending Hope', 'Rage, Legacy of the Lone Victor',
       'The Oculus, Token of Lost Worlds', 'Dawn', 'Endbringer', 'Hatred',
       'Vengeance Cleaver', 'Eternal Cleaver', 'Vindictive Glass Edge',
       'Foul Titanium Battle Axe', 'Despair, Favor of Due Diligence',
       "Freak's Bite, Favor of Holy Might",
       'Lightning, Etcher of the King', 'Wolf', 'Ragnarok', 'Piece Maker',
       'Stormfury Mace', 'Fusion Pummel', 'Conqueror Adamantite Mace',
       'Victor Iron Spikes', 'Celeste, Incarnation of the Corrupted',
       'Storm-Weaver, Slayer of Inception',
       'Frenzy, Defender of the Harvest', "Hope's End", 'Demise',
       "Winter's Bite", 'Ritual Mace', 'Yearning Crusher',
       'Brutality Ivory Warmace', 'Haunted Bronzed Bludgeon',
       'Piety, Guardian of Riddles', 'Glimmer, Ender of the Moon',
       'Alpha, Oath of Zeal', 'Dreamsong', 'Dreamkiss', 'Nirvana',
       'Lifebender', 'Arcane Gem', 'Malificent Bag', 'Stormfury Lantern',
       'Deluge, Edge of the West', 'Emberling, Defender of Delusions',
       'Blazefury, Protector of Delusions', 'Betrayer', 'Celeste',
       'Final Critic', 'Apocalyptic Battlescythe', 'Mourning Blade',
       'Singed Onyx Warscythe', 'Blood-Forged Skeletal Spine',
       'Swan Song, Gouger Of Terror', 'Deadline, Voice Of Subtlety',
       'Expiration, Warscythe Of Lost Worlds', 'Blindscythe', 'Avenger',
       'Singed Scalpel', "Gladiator's Glaive",
       'Hailstorm Shadowsteel Scythe', 'Crying Steel Sickle',
       'Splitter, Foe Of Subtlety',
       'Extraction, Quickblade Of Trembling Hands',
       'Downfall, Scalpel Of The Emperor', 'Suspension', "Misery's End",
       'Worldbreaker', "Solitude's Reaver", 'Yearning Mageblade',
       'Spectral Diamond Doomblade', 'Renewed Skeletal Katana',
       'Heartstriker, Legacy of the Light',
       'Ghost Reaver, Longsword of Magic',
       'Stormbringer, Dark Blade of Ending Misery', 'Agatha', 'Massacre',
       'Unending Tyranny', "Twilight's Carver", 'Venom Claymore',
       'Whistling Mithril Warblade', 'Exiled Mithril Longsword',
       'Heartseeker, Reaver of Souls', 'Blazeguard, Reach of Eternity',
       'Fate, Vengeance of Eternal Justice', 'Alpha', 'Fury',
       'Persuasion', "Faith's Scimitar", 'Undead Crusader',
       'Warped Diamond Crusader', 'Ghastly Adamantite Protector',
       'Aetherius, Boon of the Blessed', 'Peacekeeper, Wit of Dark Magic',
       'Mercy, Katana of Dismay', 'Striker', 'Righteous Might',
       'Frenzied Scimitar', 'Blood Infused Guardian',
       'Fiery Glass Crusader', 'Warped Iron Scimitar',
       'Hellreaver, Heirloom of Inception',
       "Warmonger, Gift of Suffering's End",
       'Tranquility, Razor of Black Magic', 'Deathraze', 'Severance',
       'Darkheart', 'Mercenary Sabre', 'Feral Katana',
       'War-Forged Gold Deflector', 'Soul-Forged Steel Shortsword',
       'Spada, Etcher of Hatred', 'Darkheart, Butcher of the Champion',
       'Oathbreaker, Spellblade of Trials', 'Azurewrath', 'Devine',
       'Abyssal Shard', 'Thunderfury Scimitar', 'Exiled Doomblade',
       'Bone Crushing Silver Skewer', 'Thirsty Iron Reaver',
       'Malice, Legacy of the Queen',
       'Sun Strike, Jaws of Twisted Visions',
       'Interrogator, Blood Blade of the Queen', 'Shadowsteel', 'Scalpel',
       'Blade of the Grave', 'Stormfury Longsword', 'Primitive Blade',
       'Woeful Adamantite Claymore', 'Relentless Iron Skewer',
       'Winterthorn, Defender of Shifting Worlds',
       'Oathbreaker, Last Hope of the Breaking Storm',
       'Wolf, Promise of the Moonwalker', "Reaper's Toll", 'Toothpick',
       "Dragon's Greatsword"], dtype=object)

In [171]:
# Sort the DataFrame by the values in the Item ID column
highest_item_name = purchase_data.sort_values("Item Name")
highest_item_name.head()

,Purchase ID,Age,Gender,Item ID,Item Name,Price,Age Demographics,Age Group
0,209,22,Male,162,Abyssal Shard,2.67,NaN,20-24
1,7,20,Male,162,Abyssal Shard,2.67,NaN,20-24
2,403,24,Male,162,Abyssal Shard,2.67,NaN,20-24
3,510,22,Male,162,Abyssal Shard,2.67,NaN,20-24
4,11,23,Male,162,Abyssal Shard,2.67,NaN,20-24

In [172]:
# Reset the index so that the index is now based on the Item Name
# highest_item_name = purchase_data.sort_values("Item Name" ascending=False)

highest_item_name.head()

,Purchase ID,Age,Gender,Item ID,Item Name,Price,Age Demographics,Age Group
0,209,22,Male,162,Abyssal Shard,2.67,NaN,20-24
1,7,20,Male,162,Abyssal Shard,2.67,NaN,20-24
2,403,24,Male,162,Abyssal Shard,2.67,NaN,20-24
3,510,22,Male,162,Abyssal Shard,2.67,NaN,20-24
4,11,23,Male,162,Abyssal Shard,2.67,NaN,20-24

In [ ]:
# Identify purchase count
# Calculate average item price
# total purchase value

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [10]:
# Sort above table by total purchase value in descending order

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80